
.box{
    padding-top: 20px;
    width:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:gray;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    font-size: 30px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.box:hover{
    transform: scale(1.15);

}